<div class="body">
    <h3>Login Form</h3>
    <form>
        <div class="imgcontainer">
            <img src="../../../assets/admin.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
                
            <button type="submit" routerLink="" routerLinkActive="active">Login</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div>