<body class="body">
    <h3>Register Form</h3>
<form>
    <div class="imgcontainer">
        <img  src="../../../assets/admin.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label for="uname"><b>First Name</b></label>
        <input type="text" placeholder="Enter FirstName" name="uname" required>

        <label for="uname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter LastName" name="uname">

        <label for="uname"><b>Phone Number</b></label>
        <input type="tel" placeholder="Enter Phone Number" name="uname" required>

        <label for="uname"><b>Address</b></label>
        <input type="textarea" placeholder="Enter Your Address" name="uname" required>

        <label for="uname"><b>Email</b></label>
        <input type="email" placeholder="Enter Your email" name="uname" required>

        <label for="uname"><b>Password</b></label>
        <input type="password" placeholder="Enter Your Password" name="uname" required>
<br>
        <button type="submit">Register</button>
        <button type="reset">Reset</button>
    </div>
</form>
</body>